

.interier {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 160px;
}

.interier-items-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0px;
}

.interier-card-title-cont {
    display: flex;
    justify-content: space-between;
}

.interier-card-title {
    font-weight: 500;
    font-size: 36px;
}

.interier-card-button {
    width: 250px;
    height: 52px;
    background: #773844;
    border-radius: 12px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: none;
}

.interier-card {
    margin: 40px 0px;
}

.interier-card-desc-title {
    color: #773844;
    margin-top: 30px;
    font-weight: 500;
    font-size: 12px;
}

.interier-card-desc-subtile {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
}

.interier-card-2 {
    width: 300px;
    padding: 40px;
}

.interier-card-4 
.interier-card-img {
    width: 610px;
    height: 334px;
}

.card-dark 
.interier-items-cont
.interier-card-2 {
    color: white;
    height: 254px;
    background-color: #42352A;
}

.card-dark 
.interier-card-desc-title{
color: #C2BDB6;
}