

.panoram .subtitle {
    width: 750px;
    text-align: center;
}

.panoram-button {
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px solid #0A3CE4;
    background-color: white;
    color: #0A3CE4;
    font-weight: 500;
    width: 310px;
    font-size: 20px;
    margin: 80px;
    background-color: #faf8f5;
}

.arrow-right {
    margin-left: 10px;
}